.winners
  &__title
    margin: 10px 0
  &__page-title
    margin: 0
    margin-bottom: 10px
  &__cars-page
    margin-bottom: 30px
  &__table
    margin-bottom: 30px

.table
  border-collapse: collapse
  border: 1px solid white

  & th
    border: 1px solid white
    padding: 5px
  & th:nth-child(2)
    width: 70px
  & th:nth-child(4)
    width: 60px
    cursor: pointer
  & th:nth-child(5)
    width: 90px
    cursor: pointer
  & td
    border: 1px solid white
    padding: 5px
    text-align: center
  & tr td:nth-child(3)
    text-align: left
