\:root
  --bg-header-footer: #619ffc
  --button-bg: #54f37c
  --card-height: 50px
  --card-fond-size: 18px
  @media(max-width: 960px)
    --card-height: 45px
    --card-fond-size: 16px
  @media(max-width: 768px),(max-height: 800px)
    --card-height: 40px
    --card-fond-size: 14px
  @media(max-width: 640px),(max-height: 680px)
    --card-height: 30px
    --card-fond-size: 12px

