  <fieldset class="car-managment">
    <legend>Car Managment</legend>
    <div class="car-create">
      <input type="text" name="" id="create-name" autocomplete="off">
      <input type="color" name="" id="create-color">
      <button class="create-btn" id="create-btn" data-btn-name="create-btn">Create</button>
    </div>
    <div class="car-update">
      <input type="text" name="" id="update-name" autocomplete="off" disabled>
      <input type="color" name="" id="update-color" disabled>
      <button class="update-btn" id="update-btn" data-btn-name="update-btn" disabled>Update</button>
    </div>
    <button class="generate-cars-btn" id="generate-cars" data-btn-name="generate-cars">Generate cars</button>
  </fieldset>