.app
  max-width: 100%
  min-height: 100%
  display: flex
  justify-content: center
  align-items: center
  background-color: #f7f7f7
  &__container
    width: 1440px
    margin-left: auto
    margin-right: auto
    padding: 40px
    display: grid
    gap: 40px
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr 1fr
    // background: #f0ea9e url("../assets/bg-2.png")
    background: #f0ea9e url("../assets/bg-1.jpg")
    height: calc(100% - 100px)
    @media(max-width: 1440px)
      height: 100%
    @media(max-width: 960px)
      grid-template-columns: 1fr
      grid-template-rows: 1fr 1fr 1fr

.gallows
  grid-column: 1 / 2
  grid-row: 1 / 3
  display: flex
  justify-content: center
  align-items: center
  // background-color: #fce69b
  @media(max-width: 960px)
    grid-row: 1 / 2
  &__picture
    width: 368px
    height: 581px
    // transform: scale(1.2)
    background: url("../assets/gallows/gallows.png") no-repeat,
    url("../assets/gallows/head.png") no-repeat 252px 149px,
    url("../assets/gallows/torso.png") no-repeat 300px 250px,
    url("../assets/gallows/hand-one.png") no-repeat 237px 270px,
    url("../assets/gallows/hand-two.png") no-repeat 300px 270px,
    url("../assets/gallows/leg-one.png") no-repeat 237px 378px,
    url("../assets/gallows/leg-two.png") no-repeat 300px 378px
    @media(max-width: 1440px)
      transform: scale(1)
    @media(max-width: 960px)
      transform: scale(0.8)

.quiz
  grid-column: 2 / 3
  grid-row: 1 / 2
  background-color: #2552cd
  @media(max-width: 960px)
    grid-column: 1 / 2
    grid-row: 2 / 3
.keyboard
  grid-column: 2 / 3
  grid-row: 2 / 3
  background-color: #80178e
  @media(max-width: 960px)
    grid-column: 1 / 2
    grid-row: 3 / 4
