.keyboard
  max-width: 560px
  display: flex
  flex-wrap: wrap
  gap: 5px
  justify-content: center
  align-content: flex-start
  justify-self: center
  grid-area: keyboard
  &__button
    width: 40px
    height: 40px
    border-radius: 6px
    font-size: 28px
    color: #fff
    background-color: #5455AC
    @extend %unselectable
    &:disabled
      background-color: #9899CD
