@font-face
  font-family: 'Roboto-Regular'
  src: url('../assets/font/roboto/Roboto-Regular.woff') format('woff'), url('../assets/font/roboto/Roboto-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Montserrat'
  src: url('../assets/font/montserrat/montserrat-v23-latin_cyrillic-700.woff2') format('woff2'), url('../assets/font/montserrat/montserrat-v23-latin_cyrillic-700.woff') format('woff')
