.field
  --cell-size: 40px
  display: grid
  grid-template-areas: "mimi-picture top-clues" "left-clues frame"
  overflow-x: auto
  padding: 3px
  background-color: #fff
  & *
    box-sizing: content-box
  &__mimipic
    grid-area: mimi-picture
    justify-self: center
    align-self: center
    width: var(--cell-size)
  &__left-clues
    grid-area: left-clues
  &__top-clues
    grid-area: top-clues
  &__frame
    grid-area: frame

.top-clues
  display: flex
  flex-direction: row
  background-color: #DADADA
  @extend %unselectable
  &__column
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: center
    min-height: calc(var(--cell-size) - 8px)
    width: var(--cell-size)
    padding-top: 4px
    padding-bottom: 4px
    border-top: 2px solid #000
    border-left: 1px solid #000
    &:nth-child(5n+1)
      border-left: 2px solid #000
    &:last-child
      border-right: 2px solid #000

.left-clues
  background-color: #DADADA
  border-left: 2px solid #000
  @extend %unselectable
  &__row
    display: flex
    justify-content: flex-end
    align-items: center
    padding-left: 4px
    padding-right: 4px
    min-width: calc(var(--cell-size) - 8px)
    height: var(--cell-size)
    border-top: 1px solid #000
    &:nth-child(5n+1)
      border-top: 2px solid #000
    &:last-child
      border-bottom: 2px solid #000

.frame
  background-color: #fff
  @extend %unselectable
  &__row
    display: flex
    flex-direction: row
    border-top: 1px solid #000
    &:nth-child(5n+1)
      border-top: 2px solid #000
    &:last-child
      border-bottom: 2px solid #000
  &__cell
    width: var(--cell-size)
    height: var(--cell-size)
    border-left: 1px solid #000
    display: flex
    justify-content: center
    align-items: center
    font-size: var(--cell-size)
    &:nth-child(5n+1)
      border-left: 2px solid #000
    &:last-child
      border-right: 2px solid #000
    &_black
      background-color: #000
