.header
  border-bottom: 1px solid var(--element-border)
  box-shadow: 0px 0px 10px var(--element-border)
  &__container

.menu
  display: flex
  padding-top: 20px
  padding-bottom: 20px
  gap: 20px
  align-items: center
  align-content: space-around
  flex-wrap: wrap
  button
    @extend %gameButton

.theme-switch
  color: var(--color-text)
  font-size: 18px
  display: flex
  column-gap: 10px
