.panel
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  &__start-button
    font-size: 18px
    border-radius: 5px
    padding: 10px
  &__information
    padding: 10px
    color: var(--color-text)
    border: 1px solid var(--element-border)
    border-radius: 15px
    font-size: 24px
    text-align: center
    visibility: hidden
    @media(max-width: 960px)
      font-size: 18px
    &_visible
      visibility: visible
