.panel
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  &__start-button
    font-size: 18px
    border-radius: 5px
    padding: 10px
  &__information
    padding: 10px
    color: #dac617
    font-size: 24px
    text-align: center
    border: 1px solid #dac617
    border-radius: 15px
    visibility: hidden
    &_visible
      visibility: visible
