%unselectable
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  -o-user-select: none
  user-select: none

%gameButton
  padding: 5px 10px
  color: #dac617
  font-size: 20px
  background-color: transparent

body
  font-family: sans-serif

button
  cursor: pointer

.container
  max-width: 1440px
  margin: 0 auto
  padding: 0 20px
